/* @import "./styles/fonts.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  /* font-family: "Avenir Next Cyr Regular", "sans-serif"; */
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  /* background: linear-gradient(blue, rgb(0, 132, 255)); */
  line-height: 15px;
  /* background: #0076FD;
  background: linear-gradient(0deg, #0076FD 0%, rgba(248, 249, 250, 1) 20%,#0076FD 70%);
  background: url('./assets/background.jpg') no-repeat; */
  /* background: linear-gradient(to bottom, #0076FD 80%, #ffffff 20%); */
  /* background: linear-gradient(to bottom, #0076FD, #66b3ffd1); */
}

.header-image {
  width: 10%;
  display: block;
  margin: 1.5rem auto;
}

@media screen and (max-width: 600px) {
  .header-image {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .title {
    width: 15%;
  }
}

h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  background: transparent;
}
ul li {
  text-decoration: underline;
  background: transparent;
}

div,
p,
ul,
h2,
.component,
u,
label,
input,
form,
textarea,
img {
  background: transparent;
}

.cross-btn {
  font-size: 30px;
}
